.App {
  background-image: url('./assets/nebula.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 100vh;
}


.planets-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  position: absolute;
  height: 100vh;
}

.planet-block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.planet-block .planet-title {
  font-weight: 700;
  font-size: 22px;
  color: #FFE81F;
}

.planet-block .planet-info {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(193, 221, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet-block .planet-info button {
  width: 50%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 14px;
}

.planet-block .planet-info button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.planet-block .planet-info button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.planet-block .planet-info button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}